.idea
TrainedInceptionResnetV2/

legacy

consultation/response-data/*.wav
consultation/response-data/*.txt

# local files for dataset manipulation
affective_computing/create_training_data.ipynb
affective_computing/create_affective_dataset.ipynb
affective_computing/data/


data
!data/contents.txt