.idea
TrainedInceptionResnetV2/

legacy

consultation/response-data/*.wav

# local files for dataset manipulation
affective-computing/create-training-data.ipynb
affective-computing/create-affective-dataset.ipynb


data
!data/contents.txt